body {
    font-family: Arial;
    padding: 20px;
    background: #214c84;
}
body h4,h5{
    margin: 5px;
}

/* Header/Blog Title */
.header {
    padding: 5px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Left column */
.avatar-form input {
    display: none;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 23%;
    padding-left: 2%;
}
.rightcolumn textarea{
    /*float: left;*/
    font-size: 14;
}

/* Fake image */
.blogimg {
    /*background-color: #aaa;*/
    width: 90%;
    padding: 20px;
    height:100px;
    display: flex;
}


.fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 5px 20px 0px 20px;
    margin-top: 20px;
}
.leftcolumn .card h5{
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.remove {
    /*padding: 20px;*/
    position: relative;
    left: 170;
    top: -20;
    width: 100;
}
.remove img{
    /*padding: 20px;*/
    position: absolute;
    left: -25;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.exit-button {
    border-radius:30px;
    padding:5px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:  darkred;
    border:none;
    color:white;
    margin-top:10px;
}

.change-button {
    border-radius:30px;
    padding:5px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:darkorange;
    border:none;
    color:white;
    margin-top:10px;
}

.send-message {
    border-radius:30px;
    padding:5px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:darkgreen;
    border:none;
    color:white;
    margin-top:10px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

